@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.topbar {
  background-color: green;
  position: sticky;
  top: 0;
  z-index: 999;
  font-size: 10px;
  font-family: inherit;
  color: white
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap:8px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;  
  z-index: -5;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1800px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.span, input, select {
  font-size: 12px
}

.buttonPanelFriend {
  display: inline-block;
  padding: 10px 20px;
  width:50%;
  margin: 5px;
  font-size: 20px;
}

.button {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  transition: all 0.5s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button:enabled span:after {
  
  opacity: 0;
  right: -0px;
}
.button:enabled:hover span {
  padding-right: 2.5px;
  padding-left: 2.5px;
}
.button:enabled:hover span:after {
  opacity: 1;
  right: 0;
}
.button:enabled:hover {
  opacity: 0.75;
}

.button:disabled {
  opacity:0.5;
  cursor: not-allowed;
}

.button:focus {
  outline: none;
}

.button:enabled:active {
  transform: scale(0.98);
}

.button-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}


.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin:5px 0;
}

.form-control label {
  display: inline-block;
}

.form-control input {
  width: 25%;
  height: 30px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

select, input.inputnumber {
  margin: 5px;
  height: 30px;
  width: 10%;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.floatright {
  float:right;
}